
<% if @products.present? %>
<span class="apple_pagination" >
  <%= will_paginate  :class => 'center' %>
</span>
  <div class="col-sm-10">
    <% @products.each do |product| %>
      <div class="col-sm-3 img-rounded">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to product, data: { no_turbolink: true }  do %>
              <%= image_tag product.img_url, {:style => 'border: none;', :class => 'img-rounded'} %>
          </div>
          <div class="panel-footer">
            <ul>
              <li class="panel-price"><%=  number_to_currency([product.new_price.to_i, product.amazon_price.to_i, product.rakuten_price.to_i, product.yahoo_price.to_i, product.ebay_price.to_i].select {|item| item > 0 }.min,:unit => "￥", :precision => 0) %></li>
              <li><%= product.product_name %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
<span class="apple_pagination" >
    <%= will_paginate  :class => 'center' %>
</span>
<% end %> 

