<div id="content">
  <div class="container">
    <%= render_breadcrumbs separator: ' > ' %>
    <h1 class="center"><%= LCategory.find_by(id: @category).l_category  %>の一覧</h1><br>
    <form class="form-horizontal" role="form" action="/search" method="get">
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-8">
          <input type="search" name="search" class="form-control" placeholder="商品名、型番、メーカーを入力してください" value="<%= params[:search] %>">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-default">検索</button>
        </div>
      </div>
    </form>

    <div class="col-sm-2">
      <h3><%= LCategory.find_by(id: @category).l_category  %></h3>
      <% LCategory.find_by_id(@category).m_categories.each do |mc| %>
        <div class="clearfix">
          <h3><%=link_to mc.m_category, mcategory_path(:mcat => mc.id) %></h3>
          <% mc.s_categories.each do |sc| %>
            <li><%=link_to sc.s_category, scategory_path(:scat => sc.id) %></li>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @products.present? %>
      <%= will_paginate  :class => 'center' %>
      <div class="col-sm-10">
        <% @products.each do |product| %>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= link_to product  do %>
                  <%= image_tag product.img_url, {:style => 'border: none;', :class => 'img-rounded'} %>
                <% end %>
              </div>
              <div class="panel-footer">
                <ul>
                  <li><%= product.model %></li>               
                  <li><%= product.new_price %></li>
                  <li><%= product.product_name %></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %> 
      <%= will_paginate  :class => 'center' %>
      </div>
    <% end %> 


  </div>
</div>
