<div id="content">
  <div class="container">
    <%= render_breadcrumbs separator: ' > ' %>
    <h1 class="center"><%= MCategory.find_by(id: @category).m_category  %>の一覧</h1><br>
    <form class="form-horizontal" role="form" action="/search" method="get">
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-8">
          <input type="search" name="search" class="form-control" placeholder="商品名、型番、メーカーを入力してください" value="<%= params[:search] %>">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-default">検索</button>
        </div>
      </div>
    </form>

    <div class=" col-sm-2 left-menu">
    <h3><%= MCategory.find_by(id: @category).m_category  %></h3>
    <% MCategory.find_by_id(@category).s_categories.each do |sc| %>
      <div class="clearfix">
        <li><%=link_to sc.s_category, scategory_path(:scat => sc.id) %></li>
      </div>
    <% end %>
      </div>

      <%= render 'product_list' %>

  </div>
</div>
<%= link_to 'New Product', new_product_path %>
