<div id="content">
  <div class="container">
    <h1 class="center">検索結果</h1><br>

    <form class="form-horizontal" role="form" action="/search" method="get">
      <div class="form-group">
        <div class="col-sm-8">
          <input type="search" name="search" class="form-control" placeholder="商品名、型番、メーカー名を入力してください" value="<%= params[:search] %>">
        </div>
        <div class="col-sm-offset-2 col-sm-2">
          <button type="submit" class="btn btn-default">検索</button>
        </div>
      </div>
    </form>


    <% if @res.present? %>
        <div class="row">
      <% for m in 0..2 do %>
      <% @res[m].items.each do |i| %>
          <div class="col-sm-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= link_to i.get('DetailPageURL') do %>
                  <%= image_tag i.get('MediumImage/URL'), {:style => 'border: none;', :class => 'img-rounded'} %>
                <% end %>
              </div>
              <div class="panel-footer">
                <ul>
                  <li><%= i.get('ASIN') %></li>               
                  <li><%= i.get('OfferSummary/LowestUsedPrice/Amount') %></li>
                  <li><%= i.get('ItemAttributes/Title') %></li>
                </ul>
              </div>
            </div>
          </div>
      <% end %> 
      <% end %> 
        </div>

    <% end %> 


      </div>
    </div>
    <%= link_to 'New Product', new_product_path %>
