<div id="content">
  <div class="container">
    <%= render_breadcrumbs separator: ' > ' %>
    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to @product.kakaku_url  do %>
              <%= image_tag @product.img_url, {:style => 'border: none;', :class => 'img-rounded'} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-9 product">
        <h1 class="left"><%= @product.product_name %></h1><hr>
        <div class="col-sm-4 product">
          <ul>
            <li>メーカー：<%= @product.brand %></li>               
            <% if @product.series %>
              <li>シリーズ名：<%= @product.series %> </li>
            <% end %>
            <li class="product_price">新品最安値：<%= number_to_currency(@product.new_price, :unit => "￥", :precision => 0) %></li>
          </ul>
        </div>
        <div class="col-sm-8">
          <table class="table table-striped">
            <% get_amazonpc %>
            <tbody>
              <tr>
                <td>Amazon</td>
                <td id = "amazonpc"><%= @amazon_price ? number_to_currency(@amazon_price, :unit => "￥", :precision => 0) :  "-"%></td>
                <td><%=@amazon_detail ? (link_to "サイトで確認 ▶︎  ",  @amazon_detail,:target=>["_blank"], :class => "btn btn-warning") : (link_to "類似商品を見る",  @amazon_recommend,:target=>["_blank"], :class => "btn btn-warning" ) %> </td>
              </tr>
              <tr>
                <td>楽天中古市場</td>
                <td></td>
                <td><a href="http://hb.afl.rakuten.co.jp/hgc/0e6d5595.f4187c7a.0e6d5596.9b1eb6e7/?pc=http%3a%2f%2fsearch.rakuten.co.jp%2fsearch%2fevent%2f<%=url_encode(@product.product_name.first(20)) %>%2f-%2fev.19-evsitem.%25E3%2580%2590%25E4%25B8%25AD%25E5%258F%25A4%25E3%2580%2591-f.1-s.4-st.A-v.2%3fscid%3daf_link_urltxt&amp;m=http%3a%2f%2fm.rakuten.co.jp%2f" target="_blank" class="btn btn-warning">サイトで確認 ▶︎ </a></td>
              </tr>
              <tr>
                <td>ヤフオク</td>
                <td></td>
                <td>リンク</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <table class=" table table-bordered table-striped col-sm-10">
        <tbody>
          <tr>
            <th>スペック</th>
          </tr>
          <% @product.spec.each_slice(2) do |s| %>
            <tr>
              <th><%= s[0].to_a.first %></td>
              <td><%= s[0].to_a.second %></td>
              <th><%= s[1].to_a.first %></td>
              <td><%= s[1].to_a.second %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>
